<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae doloremque eligendi, consequuntur voluptatibus incidunt, numquam nemo voluptate deleniti reiciendis voluptas, quis voluptatum temporibus eaque in distinctio voluptatem nostrum ullam id?</p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> email@email.com</li>
                <li><i class="fa-solid fa-phone"></i> (83) 99654-7383</li>
                <li><i class="fa-brands fa-whatsapp"></i> (83) 99654-7383</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">&copy; Todos os direitos resevados.</section>
</footer>